# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
public/uploads/qrcodes/CRB-6Q3SCC-2883.png
public/uploads/qrcodes/CRB-6YRC38-2883.png
public/uploads/qrcodes/CRB-793GNZ-2883.png
public/uploads/qrcodes/CRB-MUF99E-2883.png
public/uploads/receipts/receipt-1785894681260-blob
public/uploads/receipts/receipt-1785894980493-coupon-EBC1-VPGTA7-3290.png
